{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %} {#유저가 로그인한 상태라면 #}

        <div class="container2">
            <h1 style = "font-weight: bold; color: rgb(32, 84, 179);">상품 목록</h1>
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4 col-12">
                        <div class="card text-center" style="width: 18rem; margin-top: 20px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.item }}</h5>
                                <p class="card-text">{{ post.explanation }}</p>
                                <p class="card-text">남은 수량: {{ post.stock }}개</p>
                                <p class="card-text">가격: {{ post.price }}원</p>                                
                                {% if post.image %}
                                    <br>
                                    <img src ="{{ post.image.url }}" style="height: 100px; width:70px;">
                                {%  endif %}
                                <br>
                                <a href="{% url 'posts:show' post.pk %}" class="btn btn-primary">자세히</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h3> 로그인 후 이용이 가능합니다.</h3>
        <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
        <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
        {% endif %}
        {% endblock %}