{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 style = "font-weight: bold; color: rgb(32, 84, 179);">
        수정하기
    </h1>
    <form action="{% url 'posts:update' post.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
    <label>상품명</label>
    <input type="text" class="form-control" name="item" value= "{{post.item}}">
    </div>
    <div class="form-group">
    <label>상품 설명</label>
    <textarea class="form-control" name="explanation">{{post.explanation}}</textarea>
    </div>
    <div class="form-group">
    <label>상품 가격</label>
    <input type="text" class="form-control" name="price" value= "{{post.price}}">
    </div>
    <div class="form-group">
    <label>상품 재고</label>
    <input type="text" class="form-control" name="stock" value= "{{post.stock}}">
    </div>  
    <input type="submit" value="글 수정" class="btn btn-outline-primary">
    <input type="file" name ="image">
    </form>
</div>
{% endblock %}